html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 74px;
    width: 50%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 16px auto;
}
div{
    height: 200px;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    text-align: center;
    }