* {
    box-sizing: border-box;
}
td {
    height: 50px;
    width: 50px; 
    text-align: center; 
    border: 1px solid black;
    
}
table {
    margin: 16px;
    border: 1px solid black;
    border-collapse: collapse;
}
td,tr{
    background-color: black;
}

td:first-child, td:last-child, tr:first-child td, tr:last-child td{
    background-color: white;
    border: none;
}
 tr:nth-child(even) td:nth-child(even) {
    background-color: white;
}
tr:nth-child(odd) td:nth-child(odd) {
    background-color: white;
}