* { 
    box-sizing: border-box;
 }
.rectangle{
    border: 2px solid black;
    padding: 50px;
}
.rect1{
   background-color: blue;
   margin: 50px;  
}
.rect2{
  background-color: yellow;
}
.rect3{
   background-color: green;
}
.rect4{
   background-color: pink;        
}