.page {
    background-color: #bdc3c7;
}
.main-heading {
    color: #9b5945;
}
li {
    background-color: blue;
}
.second-heading {
    color: orange;
}
p {
    background-color: yellow;
}
input {
    border: 3px solid red;
}
#special {
    border: 2px solid blue;
}
div > p {
    font-size: 25px;
}
input[text] {
    background-color: gray;
}
.page div:nth-of-type(3) > p {
    background-color: yellow;
}
.page div:nth-of-type(3) > p:nth-of-type(2) {
    border: 5xp solid white;
}
.page div:nth-of-type(3) em {
    font-size: 20px;
    color: white;
}